.btn {
  display: inline-block;
	color: #fff;
	background: $main_red;
	padding: 0.5rem 2rem;
	border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  outline: none;
  transition: all 0.55s ease;
  &:hover {
    background-color: darken($main_red, 10%);
  }
  &:active {
    background-color: darken($main_red, 20%);
  }
  &:focus {
    background-color: darken($main_red, 10%);
  }
}
