//fonts
$akrobat: Akrobar, Arial, sans-serif;


//colors
$main_red: #e50000;
$footerBg_gray: #dadada;
$buttonUp_red: #ce0000;
$text_black: #333333;
$textFooter_gray: rgba(51, 51, 51, 0.5);
$textInput_gray: rgba(61, 61, 61, 0.5);
$white: #ffffff;
$dark_gray: rgba(255, 255, 255, 0.2);
$sectionBg_gray: #f0f0f0;


