header.showcase.py-1
	.container
		.showcase-content
			h1 Main Header
			p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio quos dignissimos, aperiam voluptatum blanditiis modi voluptas perferendis, consequatur repellat saepe iste exercitationem tempore reiciendis hic enim maxime laborum, delectus vitae. Quam magnam qui fugiat vero repellat cupiditate ipsam! Incidunt ratione quidem nemo dolore architecto assumenda sint consequuntur blanditiis officia debitis eveniet neque eius in at libero enim optio, magnam qui aliquam harum? Quisquam, alias vel sit, autem maxime eveniet beatae blanditiis libero adipisci, voluptas animi dolor et suscipit vero debitis porro reiciendis consectetur voluptate aperiam. Dicta placeat hic asperiores mollitia incidunt illum dolorem explicabo corporis ratione aperiam reprehenderit, magnam veniam!
			a.btn(href="article.html") Read More 